body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E60000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
    text-align: center;
}

#home {
    background-color: #F2F2F2;
}

.btn {
    display: inline-block;
    background-color: #E60000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.model {
    margin-bottom: 50px;
}

.model img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}