body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #E60000;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.model {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
}

.model img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #E60000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    background-color: #575353;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}